b2ki/tools/game_logs/0.stream
b2ki/tools/game_logs/0.stream
b2ki/your bot/bin/Debug/MyBot.exe
b2ki/your bot/bin/Debug/MyBot.pdb
b2ki/your bot/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
b2ki/your bot/obj/x86/Debug/MyBot.exe
b2ki/your bot/obj/x86/Debug/MyBot.pdb
b2ki/your bot/obj/x86/Debug/YourBot.csproj.FileListAbsolute.txt
b2ki/your bot/YourBot.suo
